/******
RESET
******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #e53170;
    
}

.header {
    text-align: center;
    margin-top: 50px;
}

/******
CONTENITORE
*******/
.container {
    background-color: white;
    margin: 30px auto;
    width: 1140px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

}

.col {
    background-color: #0f0e17;
    border: 1px solid #0f0e17;
    height: 100px;
    width: calc(100% / 3 - 40px);
    flex-shrink: 0;
    margin: 15px;
}

img {
    width: 99px;
}

div h3 {
    color: white;
    width: 200px;
    height: 0px;
    margin-left: 110px;
    
}
}